<% layout("/layouts/boilerplate") %>

    <body>
        <h3> All listings</h3>
        <!-- <form method="get" action="/listings/new">
            <button>Create New</button>
        </form> -->
        <% for (let listing of allListings){ %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= listing.image %>" alt="listing image 
                ">
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.title %>
                            <br />
                            &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
                    </p>
                </div>
            </div>
            <% } %>

                <ul>
                    <% for (let listing of allListings){ %>
                        <li>
                            <a href="./listings/<%=listing._id %>">
                                <%=listing.title %>
                            </a>
                        </li>
                        <% } %>
                </ul>
    </body>