<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <h1>Details:</h1>
    <h4>
        <%=listing.title%>
    </h4>
    <h4>
        <%=listing.discription%>
    </h4>
    <h4>
        &#8377;<%=listing.price.toLocaleString("en-IN")%>
    </h4>
    <h4>
        <%=listing.location%>
    </h4>
    <h4>
        <%=listing.country%>
    </h4>
    <a href="/listings/<%= listing._id %>/edit"> edit the listing</a>
    <br><br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=Delete">
        <button>Delete this listing</button>
    </form>
</body>

</html>